*{
  align-items: center;
}
.heading{
  font-size: 30px;
}
.todo-css{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  margin: 20px 0px;
  row-gap: 12px;
}

.todo-adder{
  display: grid;
  grid-template-columns: 190px 140px 100px;
  column-gap: 10px;
}

.dateInput,.inputElement,.addButton{
  padding: 6px;
  font-size: 15px;
}
.deleteButton{
  background-color: hsl(0, 100%, 50%);
  color: white;
  border: hsl(0, 100%, 50%);
  padding: 12px;
}
.deleteButton:hover{
  background-color: hsl(0, 100%, 40%);
  cursor: pointer;
}
.addButton{
  background-color: green;
  color: white;
  border: green;
  padding: 9px;
}
.addButton:hover{
  background-color: hsl(120, 100%, 30%);
  cursor: pointer;
}

